/*==================================
 * Typography
 *=================================*/
$font:          "Ubuntu", sans-serif;
$fontSize:      1rem;
$lineHeight:    1.5;

$h1Size:        2rem;
$h2Size:        1.5rem;
$h3Size:        1.17rem;
$h4Size:        1rem;
$h5Size:        .83rem;
$h6Size:        .75rem;


/*==================================
 * Colors
 *=================================*/
$black:         #202020;
$white:         #ffffff;
$gray:          #cccccc;

$primaryColor:  #6F929C;


/*==================================
 * Breakpoints
 *=================================*/
$desktop:       1024px;
$tablet:        768px;


/*==================================
 * Extra
 *=================================*/
$radius:  5px;
